---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<div class="banner-primary">
  <div class="fr-container fr-pt-8w fr-pb-6w fr-mb-6w">
    <div class="fr-grid-row">
      <div class="fr-col-offset-md-1 fr-col-12 fr-col-sm-12 fr-col-md-6">
        <p class="fr-text--lead">
        Un cadre de cohérence pour construire <em>"une solution qui peut être un produit, un système ou un service qui fournit de la valeur aux agents et usagers"</em>
          <a href="./1-chapeau/2-presentation-generale/" target="_blank"><strong>présentation générale</strong></a>
        </p>
      </div>
    <div class="fr-col-md-4 fr-hidden fr-unhidden-md col-center">
        <img src="/icons/undraw_team_collaboration_re_ow29_green.svg" alt="" width="256">
    </div>
    </div>
  </div>
</div>
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12">
      <h2>{{ pTitle }}</h2>
      <p class="fr-text--lg">
        {{ pDescription | safe }}
      </p>
    </div>
  </div>
</div>
